* {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

h1 {
  padding: 15rem 0 2rem;
  font-size: 62px;
}

h3 {
  font-size: 62px;
  padding-bottom: 4rem;
}

button {
  font-size: 54px;
  display: block;
  margin: 0 auto;
  padding: .25rem 2rem;
  box-shadow: 5px 5px 5px white;
}
