* {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Amatic SC', cursive;
}

h1 {
  padding: 15rem 0 2rem;
  text-align: center;
  font-size: 62px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 62px;
}
